*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.wrapper{
    width: 420px;
    color: #fff;
    padding: 30px 40px;
    background: transparent;
    background-color: rgba(3, 20, 21, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    border-top: 2px solid rgb(131, 89, 10);
    border-left: 2px solid rgb(131, 89, 10);
    border-bottom: 2px solid rgb(114, 6, 114);
    border-right: 2px solid rgb(114, 6, 114);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;   
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(225, 225, 225, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input:focus{
    border: 1px solid;
    transition: 0.5s;
}

.input-box input::placeholder{
    color: #fff
}



.input-box i{
    position: absolute;
    right: 20px;
    top: 65px;
    transform: translateY(-50px);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-sizing: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.box1{
    width: 200px;
    height:200px;
    border-radius: 50%;
    background: rgb(114, 6, 114);
    position: absolute;
    top: 20%;
    left: 30%;
}
.box2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(131, 89, 10);
    position: absolute;
    top: 49%;
    left: 55%;
    z-index: -1;
}